#Pagination {
    display: flex;
    height: 80px;
    align-items: center;
    margin: 1rem 0;
    .pagination-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 650px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .pagination-number {
            padding: 0.55rem;
            font-size: 1.25rem;
            &:hover{
                border-radius: 90%;
                background-color: rgb(187, 206, 221);
            }
        }
        .active {
            padding: 1rem;
            color: #fff !important;
            background-color: #000 !important;
            border-radius: 50%;
            font-size: 1.85rem;
        }
        .pagination-arrow {
            font-size: 1.95rem;
            transition: transform 0.5s;
            &:hover{
                transform: scale(1.5);
            }
        }
        .custom-page {
            display: flex;
            input {
                border: none;
                width: 45px;
                border-bottom: 1px solid black;
                padding-left: .5rem;
                font-family: inherit;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
                &::-webkit-inner-spin-button,
                ::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    display: none;
                }
            }   
        }
    }
}