@import "../variables.scss";

#App {
    .main-container {
        margin: 0 6rem;
        .fade-in-appear {
            opacity: 0;
        }  
        .fade-in-appear.fade-in-appear-active {
        opacity: 1;
        transition: opacity 2s linear;
        }
        .landing-page-wrapper{
            display: flex;
            flex-direction: column;
            align-content: center;
            padding-top: 2rem;
            .landing-page-title {
                text-align: center;
                font-size: 6rem;
                margin: 2rem auto;
            }
            .landing-page-text {
                width: 60%;
                margin: 0.5rem auto;
                text-align: center;
                font-family: $font-main;
                line-height: 1.7rem;
            }
        }
        .nav-page-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            h1 {
                margin: 0;
                font-size: 3rem;
            }
        }
        .polaroid-marker {
            font-family: $font-polaroid;
        }
    }
}

//Media Queries
#App {
    .main-container {
        @media screen and (min-width: $mobile-S) and (max-width: $tablet-cap){
            margin: 0 0.5rem;
        }
        .landing-page-wrapper {
            @media screen and (min-width: $mobile-S) and (max-width: $mobile-M-cap){
                .landing-page-title {
                    font-size: 2.5rem;
                }
            }
            @media screen and (min-width: $mobile-L) and (max-width: $mobile-XL-cap){
                .landing-page-title {
                    font-size: 3.5rem;
                }
            }
        }
        .nav-page-wrapper {
            @media screen and (min-width: $mobile-S) and (max-width: $mobile-M-cap){
                margin-bottom: 1rem;
                h1 {
                    font-size: 1.5rem;
                }
            }
            @media screen and (min-width: $mobile-L) and (max-width: $mobile-XL-cap){
                margin-bottom: 1.5rem;
                h1 {
                    font-size: 1.8rem;
                }
            }
            @media screen and (min-width: $tablet) and (max-width: $tablet-cap){
                margin-bottom: 1.7rem;
                h1 {
                    font-size: 2.5rem;
                }
            }
        }
    }
}