@import "../variables.scss";

#CarouselController {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 820px;
    top: 380px;
    left: 50%;
    margin-left: -410px;
    z-index: 1000;
    .carousel-arrow {
        font-size: 2rem;
        color: #fff;
        margin: 0;
        opacity: 0.4;
        transition: all 0.2s linear;
        cursor: pointer;
        &:hover{
            opacity: 1;
            transition: all 0.2s linear;
            transform: scale(1.1);
        }
    }
}

//Media Queries
#CarouselController {
    @media screen and (min-width: $mobile-S) and (max-width: $mobile-S-cap){
        width: 200px;
        top: 470px;
        margin-left: -100px;
    }
    @media screen and (min-width: $mobile-M) and (max-width: $mobile-M-cap){
        width: 224px;
        top: 490px;
        margin-left: -112px;
    }
    @media screen and (min-width: $mobile-L) and (max-width: $mobile-L-cap){
        width: 251px;
        top: 525px;
        margin-left: -125.5px;
    }
    @media screen and (min-width: $mobile-XL) and (max-width: $mobile-XL-cap){
        width: 520px;
        top: 353px;
        margin-left: -260px;
    }
    @media screen and (min-width: $tablet) and (max-width: $tablet-cap){
        width: 720px;
        top: 328.5px;
        margin-left: -360px;
    }
}