@import "../variables.scss";

#Error {
    @include letterpress;
    margin: 2.5rem auto;
    width: 80%;
    .error-text {
        font-family: $font-main;
        font-size: 1.5rem;
        color: #f7f4e8;
        text-align: center;
    }
    .error-term {
        @include titleShadow;
        text-align: center;
        font-size: 3rem;
        font-family: $font-polaroid;
        margin: 2rem auto;
        color: $primary-text;
    }
}