@import "../variables.scss";

#Loading {
    height: 400px;
    width: 400px;
    margin: 5rem auto;
    position: relative;

    .splash {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .loading-bars {
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -5px;
        margin-top: -50px;
        height: 85px;
        width: 85px;
    }

    @media screen and (max-width: $mobile-L-cap){
        width: 250px;
        height: 250px;

        .loading-bars {
            margin-left: -5px !important;
            margin-top: -30px !important;
            height: 40px !important;
            width: 40px !important;
        }
    }
}