@import "../variables.scss";

#Modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    display: block;
    overflow: auto;
    z-index: 100;
    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: 15px;
        background: #fff;
        margin: 80px auto;
        z-index: 100;
        width: 700px;
        height: 600px;
        text-align: center;
        overflow: hidden;
    }
    .modal-background {
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.75;
    }
}

#ModalImageCard {
    position: relative;
    height: 90%;
    max-width: 100%;
    .image-wrapper {
        width: 100%;
        min-height: 250px;
        height: 95%;
        overflow:hidden;
        max-height: 650px;
        background-color: #000000;
        img {
            width: auto;
            max-width: 100%;
            height: 100%;
        }
    }
    h2 {
        margin-bottom: 0.5rem;
    }
}

//Media Queries
#Modal {
    @media screen and (min-width: $mobile-S) and (max-width: $mobile-S-cap) {
        .modal-body {
            margin: 170px auto;
            padding: 7px;
            width: 290px;
            height: 260px;
        }
    }
    @media screen and (min-width: $mobile-M) and (max-width: $mobile-M-cap) {
        .modal-body {
            margin: 170px auto;
            padding: 7px;
            width: 325px;
            height: 280px;
        }
    }
    @media screen and (min-width: $mobile-L) and (max-width: $mobile-L-cap) {
        .modal-body {
            margin: 170px auto;
            padding: 8px;
            width: 365px;
            height: 315px;
        }
    }
    @media screen and (min-width: $mobile-XL) and (max-width: $mobile-XL-cap) {
        .modal-body {
            margin: 170px auto;
            padding: 9px;
            width: 425px;
            height: 366px;
        }
    }
    @media screen and (min-width: $tablet) and (max-width: $tablet-cap) {
        .modal-body {
            margin: 70px auto;
            padding: 15px;
            width: 600px;
            height: 517px;
        }
    }
}

#ModalImageCard {
    @media screen and (min-width: $mobile-S) and (max-width: $tablet-cap) {
        .image-wrapper{
            min-height: 0 !important;
        }
    }
    @media screen and (min-width: $mobile-S) and (max-width: $mobile-S-cap) {
        h2 {
            margin: 0;
            font-size: 1rem;
        }
    }
    @media screen and (min-width: $mobile-M) and (max-width: $mobile-M-cap) {
        h2 {
            margin: 0;
            font-size: 1rem;
        }
    }
    @media screen and (min-width: $mobile-L) and (max-width: $mobile-L-cap) {
        h2 {
            margin: 0;
            font-size: 1.1rem;
        }
    }
    @media screen and (min-width: $mobile-XL) and (max-width: $mobile-XL-cap) {
        h2 {
            margin: 0;
            font-size: 1.2rem;
        }
    }
    @media screen and (min-width: $tablet) and (max-width: $tablet-cap) {
        h2 {
            margin: 0;
            font-size: 1.5rem;
        }
    }
}