@import "../variables.scss";

#Pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    font-family: $font-main;
    .control-wrapper {
        display: flex;
        justify-content: center;
        flex-grow: 2;
        width: 100%;
        .controls{
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 70%;
            font-size: 1.5rem;
            background: #51fbff;
            border: 2px solid #000;
            border-radius: 10px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            background-image: url("../static/images/input-texture.png");
            padding: 0.5rem;
            cursor: pointer;
            .pagination-number {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .inactive {
                transition: 0.2s transform ease-out;
                &:hover{
                    transform: scale(1.25);
                }
            }
            .active {
                @include titleShadow;
                font-size: 2.2rem;
                font-family: $font-polaroid;
            }
            .pagination-arrow {
                display: flex;
                align-items: center;
                transition: transform 0.2s;
                span {
                    padding-top: 50%;
                }
                &:hover{
                    transform: scale(1.2);
                }
            }
        }    
    }
    .custom-page {
        display: flex;
        position: absolute;
        right: 0;
        border: 2px solid #000;
        border-radius: 10px;
        background-image: url("../static/images/input-texture.png");
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        text-align: center;
        padding: 0.2rem;
        span {
            display: flex;
            align-items: center;
            margin-left: 0.2rem;
        }
        input {
            font-size: 1rem;
            font-family: inherit;
            background: transparent;
            border: none;
            text-align: center;
            cursor: pointer;
            &:focus{
                outline: none;
            }
            &::-webkit-inner-spin-button,
            ::-webkit-outer-spin-button {
                -webkit-appearance: none;
                display: none;
            }
        }   
    }
}

//Media Query
#Pagination {
    @media screen and (min-width: $mobile-S) and (max-width: $mobile-M-cap){
        .control-wrapper{
            .controls {
                width: 100%;
                font-size: 0.9rem !important;
                .active {
                    font-size: 1.3rem !important;
                }
                .pagination-arrow {
                    font-size: 1.1rem !important;
                }
            }
        }
    }
    @media screen and (min-width: $mobile-L) and (max-width: $mobile-L-cap){
        .control-wrapper {
            .controls {
                width: 100%;
                font-size: 1rem !important;
                .active {
                    font-size: 1.46rem !important;
                }
                .pagination-arrow {
                    font-size: 1.22rem !important;
                }
            }
        }
    }
    @media screen and (min-width: $mobile-XL) and (max-width: $mobile-XL-cap){
        .control-wrapper{
            justify-content: flex-start;
            .controls {
                width: 100%;
                font-size: 1rem !important;
                .active {
                    font-size: 1.46rem !important;
                }
                .pagination-arrow {
                    font-size: 1.22rem !important;
                }
            }
        }
        .custom-page {
            span {
                font-size: 0.8rem !important;
            }
            input {
                width: 30px !important;
                font-size: 0.8rem !important;
            }
        }
    }
    @media screen and (min-width: $tablet) and (max-width: $tablet-cap){
        .control-wrapper {
            width: 80%;
            .controls {
                width: 65%;
                font-size: 1.3rem !important;
                .active {
                    font-size: 1.9rem !important;
                }
                .pagination-arrow {
                    font-size: 1.58rem !important;
                }
            }
        }
        .custom-page {
            span {
                font-size: 1rem !important;
            }
            input {
                width: 40px !important;
                font-size: 1rem !important;
            }
        }
    }
}