@import "../variables.scss";

.photographer-card {
    background: $color-white;
    position: absolute;
    top: 0;
    left: 0;
    color: $color-black;
    text-align: center;

    .card-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;

        button {
            position: absolute;
            display: flex;
            align-items: center;
            top: 5px;
            right: 5px;
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: none;
            font-size: 1.25rem;
            color: $color-white;
            transition: all 0.15s ease;
            height: 20px;
            width: 20px;

            &.unsplash {
                left: 5px;
                right: 0px;
            }

            svg {
                height: 15px;
                width: 15px;
                color: $color-grey;
                transition: all 0.25s ease;

                &:hover {
                    color: $color-pink;
                }
            }

            &:focus {
                outline: none;
            }
        }

        img {
            height: 75px;
            width: 75px;
            margin: 0.5rem auto 0;
            border-radius: 100%;
            border: 5px solid $color-pink;
        }
        .name {
            font-size: 1.25rem;
        }
        .bio {
            font-size: 1rem;
            font-weight: 300;
            display: flex;
            flex: 1 auto;
            padding: 0 1rem;
            text-align: center;
        }
        .socials {
            display: flex;
            justify-content: center;
            padding-bottom: 0.5rem;
            
            svg {
                height: 25px;
                width: 25px;
                color: $color-grey;
                transition: all 0.25s ease;
                margin: 0 10px;

                &:hover {
                    color: $color-pink;
                }
            }
        }
    }
}