@import "../variables.scss";

#SearchBar {
    form {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        font-size: 2rem;
        position: relative;
        margin-top: 3px;

        input {
            background: transparent;
            border: none;
            border-bottom: 2px solid $color-pink;
            font-size: 1.5rem;
            color: $color-pink;
            font-family: $font-main;
            margin-left: 10px;
            margin-top: 10px;
            height: 30px;
            &:focus {
                outline: none;
            }
        }

        label {
            margin-bottom: -5px;
        }
    }

    @media screen and (max-width: $mobile-L-cap) {
        form {
            font-size: 1.25rem;

            input {
                font-size: 0.95rem;
            }

            label {
                margin-bottom: -7px;
            }
        }
    }
}
