#ButtonUI {
    display: flex;
    justify-content: space-between;
    .control-button {
        font-size: 2rem;
        cursor: pointer;
        &.close {
            color: #B12C1A;
        }
    }
}