@import "./components/GridImage.scss";
@import "./components/Header.scss";
@import "./components/Loading.scss";
@import "./components/PhotographerCard.scss";
@import "./components/SearchBar.scss";
@import "./components/TopScrollButton.scss";
@import "./pages/Home.scss";

html, #root, #App, .main-container {
    height: 100%;
}

body {
    min-height: 100%;
    background: $color-black;
    font-size: 16px;
    color: $color-white;
    padding: 1rem;
    margin: 0;

    * {
        font-family: $font-main;
    }
}

#App {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: $color-white;
}

.text-pink {
    color: $color-pink;
}

.results-found {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 1.25rem;
    span {
        margin-left: 5px;
    }
}

.alert {
    margin: 2rem auto;
    font-size: 1.25rem;
    text-align: center;
}