//Breakpoints
$mobile-S: 320px;
$mobile-S-cap: 374px;
$mobile-M: 375px;
$mobile-M-cap: 424px;
$mobile-L: 425px;
$mobile-L-cap: 566px;
$mobile-XL: 567px;
$mobile-XL-cap: 767px;
$tablet: 768px;
$tablet-cap: 1023px;
$laptop: 1024px;
$laptop-cap: 1439px;
$desktop: 1440px;

//Fonts
$font-polaroid: 'Permanent Marker', cursive;
$font-main: "Oswald", sans-serif;
// $font-main: 'Lato', sans-serif;

//Colors
$primary-text: #FFF;
$color-pink: #C506AB;
@mixin instagram {
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
@mixin twitter {
    color: #fff;
    background: #00aced;
}

//Shadows
@mixin letterpress {
    color: #222;
    text-shadow: 0px 2px 3px #555;
}
@mixin titleShadow {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

