#PhotographerCard {
    position: absolute;
    font-family: 'Lato', sans-serif;
    top: 0;
    width: 200px;
    background-color: rgba(187,206,221,0.8);
    z-index: 100;
    min-height: 250px;
    height: 95%;
    overflow:hidden;
    max-height: 650px;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    &.hide{
        width: 0;
    }
    .profile-picture {
        height: 150px;
        width: 150px;
        margin: 0 auto;
        margin-top: 1rem;
        img {
            border-radius: 50%;
        }
    }
    .photographer-block-show {
        opacity: 1;
        -webkit-transition: opacity 0.3s 0.3s;
        transition: opacity 0.3s 0.3s;
    }
    
    .photographer-block-hide {
        opacity: 0;
        -webkit-transition: opacity 0.05s;
        transition: opacity 0.05s;
    }
    .block-content {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .block-text {
            font-size: 1rem;
        }
        .block-title {
            margin: 0 0 0.1rem 0;
            font-size: 1.35rem;
        }
        .block-social {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            a {
                margin: 0 0.5rem;
                color: #000;
                transition: transform 0.2s linear;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}